## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
conjunto1 = 21
print (conjunto1)

21

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
x = 8.5
type(x)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [55]:
type(conjunto1)

int

4) Crear una variable que contenga tu nombre

In [6]:
minombre = "Eliezer"

5) Crear una variable que contenga un número complejo

In [56]:
nrocomplejo = 3 + 50j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [58]:
type(nrocomplejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [59]:
import math

nropi = math.pi

print(f'{nropi:.4f}')

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [60]:
#no se trata de lo mismo porque uno es una respuesta del boleano 
#y otro es simplemente una cadena escrita manualmente como un texto
# sin significado

variable = "True"
ValorVariable = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [61]:
print(type(variable), type(ValorVariable))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [63]:
nroentero= 5
nrodecimal = 5.1

resultado = nroentero + nrodecimal
print (resultado)

10.1

11) Realizar una operación de suma de números complejos

In [64]:
x = 53 +2j
y = 5 + 3j

c = x + y
print (c)

(58+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [65]:
nroReal = -8.35
nrocomplejo = 25 + 3j

resultado = nroReal + nrocomplejo
print(resultado)

(16.65+3j)

13) Realizar una operación de multiplicación

In [30]:
5 * 3

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [31]:
numero = 2

octavapotencia = numero ** 8
print(octavapotencia)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [32]:
x = 27
y = 4

cociente = x // y

print (cociente)

6

16) De la división anterior solamente mostrar la parte entera

In [33]:
parteentera = int(x/y)
print (parteentera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [34]:
resto = 27 % 4
print (resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [35]:
resultado = y * parteentera + resto
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [66]:
x = "abcdefghijk"
y = "lmnopqrstuvwxyz"

variablealfanumericas = x+y
print(variablealfanumericas)

abcdefghijklmnopqrstuvwxyz

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [40]:
cadena = "2"
valor = 2


son_igual= cadena==valor
print(son_igual)

#sucede porque uno es una cadena de caracteres es un texto y el otro si es un valor numerico

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [41]:
convertirstr = int(cadena)

son_igual = convertirstr == valor
print (son_igual)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [45]:
#el valor da error porque el numero que está en las comillas
#esta está separadas por una coma.!
#Lo correcto sería cambiar "," por "." y listo

a = float ("3.8")
print (a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [46]:
valor = 3

valor -=1
print(valor)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [49]:
1 << 2

#da ese resultado por que desplaza el valor del 1, 2 espacios para la izquierda
#quedando el resultado binario "1 0 0" = 4 en binario

#el sistema binario es donde se utiliza el 0,1 para representar la informacion
#binary digit

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [52]:
"2" + "2"
#1.- porque el primero tiene un tipo numerico y el otro es una cadena
#2.- arrojaria resultados diferentes ya que uno se comportaria como suma y el otro la union de 2cadena de caracteres

#ejemplo
valores = 2+2
print (valores)

cadenadecaracteres = "2" + "2"
print (cadenadecaracteres)

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [70]:
#como tal la operacion de un tipo entero y string no sería valida sin antes
#modificar sus valores

numero = 5
cadena = "10"

resultado = str(numero)*numero + cadena
print (resultado)

5555510